body {
margin: auto;
background: url(fone.png) repeat;
}
A:link { text-decoration: none; }
A:visited { text-decoration: none; }
A:active { text-decoration: none; }
A:hover { 
 text-decoration: underline; 
 color: red; 
 } 
/*-----------------HEADER---------------*/
.header {
	display: block;
	margin-left: 20%;
	width: 80%;
}
.header_sitename{
	display: block;
	margin-top: -10px;
	height: 50px;
	margin-left: 80px;
}
.header_sitename h1{
	font-style: italic;
	font-weight: 530;
	margin-left: 30px;
	padding: 25px 0 0 0;
	font-size: 35px;
}
#logo {
	float: left;
}
/*----------------NAV---------------*/

.nav {
	max-width: 960px;
	margin: auto;
	display: block;
	width: 80%;
	padding-bottom:24px;
}
.nav_link {
	float: left;
	margin-left: 100px;
	font-style: normal;
	font-weight: 450;
	font-size: 20px;
}

/*---------------CONTENT------------*/
.content{
	background-color: white;
	max-width: 960px;
	margin: auto;
}
Tr:nth-last-child(odd){
	background-color: #40E0D0;
}
.content_links {
	margin-top: 50px;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	overflow: auto;
}
.content_links p{
	font-style: normal;
	font-weight: 400;
	margin: 5px;
	padding: 0;
	font-size: 15px;
}
.content_table {
	margin-top: 50px;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	overflow: auto;
}
.content_table p{
	font-style: normal;
	font-weight: 400;
	margin: 5px;
	padding: 0;
	font-size: 15px;
}
.content_form {
	margin-top: 50px;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	overflow: auto;
}
.content_form p{
	font-style: normal;
	font-weight: 400;
	margin: 5px;
	padding: 0;
	font-size: 15px;
}
/*------------FOOTER----------*/
.footer{
	width:100%;
	height: 50px;
}
.footer p{
	position: absolute;
	margin-left: 40px;
	margin-top: 15px;
}
